<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#Aggregating-Functions" data-toc-modified-id="Aggregating-Functions-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Aggregating Functions</a></span><ul class="toc-item"><li><span><a href="#Example-Simple-Aggregations" data-toc-modified-id="Example-Simple-Aggregations-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Example Simple Aggregations</a></span></li></ul></li><li><span><a href="#Grouping-in-SQL" data-toc-modified-id="Grouping-in-SQL-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Grouping in SQL</a></span><ul class="toc-item"><li><span><a href="#Example-GROUP-BY--Statements" data-toc-modified-id="Example-GROUP-BY--Statements-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Example <code>GROUP BY</code>  Statements</a></span><ul class="toc-item"><li><span><a href="#Without-GROUP-BY" data-toc-modified-id="Without-GROUP-BY-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Without <code>GROUP BY</code></a></span></li><li><span><a href="#With-GROUP-BY" data-toc-modified-id="With-GROUP-BY-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>With <code>GROUP BY</code></a></span></li></ul></li><li><span><a href="#Group-Task" data-toc-modified-id="Group-Task-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Group Task</a></span></li><li><span><a href="#Exercise:-Grouping" data-toc-modified-id="Exercise:-Grouping-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Exercise: Grouping</a></span></li></ul></li><li><span><a href="#Filtering-Groups-with-HAVING" data-toc-modified-id="Filtering-Groups-with-HAVING-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Filtering Groups with <code>HAVING</code></a></span><ul class="toc-item"><li><span><a href="#Examples-of-Using-HAVING" data-toc-modified-id="Examples-of-Using-HAVING-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Examples of Using <code>HAVING</code></a></span><ul class="toc-item"><li><span><a href="#Simple-Filtering---Number-of-Airports-in-a-Country" data-toc-modified-id="Simple-Filtering---Number-of-Airports-in-a-Country-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>Simple Filtering - Number of Airports in a Country</a></span></li></ul></li><li><span><a href="#Filtering-Different-Aggregations---Airport-Altitudes" data-toc-modified-id="Filtering-Different-Aggregations---Airport-Altitudes-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Filtering Different Aggregations - Airport Altitudes</a></span><ul class="toc-item"><li><span><a href="#Looking-at-the-airports-Table" data-toc-modified-id="Looking-at-the-airports-Table-4.2.1"><span class="toc-item-num">4.2.1&nbsp;&nbsp;</span>Looking at the <code>airports</code> Table</a></span></li><li><span><a href="#Looking-at-the-Highest-Airport" data-toc-modified-id="Looking-at-the-Highest-Airport-4.2.2"><span class="toc-item-num">4.2.2&nbsp;&nbsp;</span>Looking at the Highest Airport</a></span></li><li><span><a href="#Looking-at-the-Number-of-Airports-Too" data-toc-modified-id="Looking-at-the-Number-of-Airports-Too-4.2.3"><span class="toc-item-num">4.2.3&nbsp;&nbsp;</span>Looking at the Number of Airports Too</a></span></li><li><span><a href="#Filtering-on-Aggregations" data-toc-modified-id="Filtering-on-Aggregations-4.2.4"><span class="toc-item-num">4.2.4&nbsp;&nbsp;</span>Filtering on Aggregations</a></span></li></ul></li></ul></li><li><span><a href="#Joins" data-toc-modified-id="Joins-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Joins</a></span><ul class="toc-item"><li><span><a href="#INNER-JOIN" data-toc-modified-id="INNER-JOIN-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span><code>INNER JOIN</code></a></span><ul class="toc-item"><li><span><a href="#Code-Example-for-Inner-Joins" data-toc-modified-id="Code-Example-for-Inner-Joins-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>Code Example for Inner Joins</a></span><ul class="toc-item"><li><span><a href="#Inner-Join-Routes-&amp;-Airline-Data" data-toc-modified-id="Inner-Join-Routes-&amp;-Airline-Data-5.1.1.1"><span class="toc-item-num">5.1.1.1&nbsp;&nbsp;</span>Inner Join Routes &amp; Airline Data</a></span></li><li><span><a href="#Note:-Losing-Data-with-Inner-Joins" data-toc-modified-id="Note:-Losing-Data-with-Inner-Joins-5.1.1.2"><span class="toc-item-num">5.1.1.2&nbsp;&nbsp;</span>Note: Losing Data with Inner Joins</a></span></li></ul></li></ul></li><li><span><a href="#LEFT-JOIN" data-toc-modified-id="LEFT-JOIN-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span><code>LEFT JOIN</code></a></span><ul class="toc-item"><li><span><a href="#Code-Example-for-Left-Join" data-toc-modified-id="Code-Example-for-Left-Join-5.2.1"><span class="toc-item-num">5.2.1&nbsp;&nbsp;</span>Code Example for Left Join</a></span></li></ul></li><li><span><a href="#Exercise:-Joins" data-toc-modified-id="Exercise:-Joins-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Exercise: Joins</a></span></li></ul></li><li><span><a href="#Level-Up:-Execution-Order" data-toc-modified-id="Level-Up:-Execution-Order-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Level Up: Execution Order</a></span></li></ul></div>

![sql](images/sql-logo.jpg)

In [1]:
pip install -U pandasql

Requirement already satisfied: pandasql in c:\users\alvaro\anaconda3\lib\site-packages (0.7.3)
Requirement already satisfied: numpy in c:\users\alvaro\anaconda3\lib\site-packages (from pandasql) (1.21.5)
Requirement already satisfied: sqlalchemy in c:\users\alvaro\anaconda3\lib\site-packages (from pandasql) (1.4.32)
Requirement already satisfied: pandas in c:\users\alvaro\anaconda3\lib\site-packages (from pandasql) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\alvaro\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\alvaro\anaconda3\lib\site-packages (from pandas->pandasql) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\alvaro\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\alvaro\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [17]:
import pandas as pd
import sqlite3
import pandasql

conn = sqlite3.connect("./data/flights.db")
cur = conn.cursor()

# Objectives

- Use SQL aggregation functions with GROUP BY
- Use HAVING for group filtering
- Use SQL JOIN to combine tables using keys

# Aggregating Functions

>  A SQL **aggregating function** takes in many values and returns one value.

We have already seen some SQL aggregating functions like `COUNT()`. There are also others, like SUM(), AVG(), MIN(), and MAX().

## Example Simple Aggregations

In [18]:
# Max value for longitude
pd.read_sql('''
    SELECT 
        -- Note we have to cast to a numerical value first
        
        MAX(CAST(longitude AS REAL))
        
    FROM 
        airports
''', conn)

   MAX(CAST(longitude AS REAL))
0                       179.951

In [ ]:
# Effectively counts all the inactive airlines

# Grouping in SQL

We can go deeper and use aggregation functions on _groups_ using the `GROUP BY` clause.

The `GROUP BY` clause will group one or more columns together with the same values as one group to perform aggregation functions on.

## Example `GROUP BY`  Statements

Let's say we want to know how many active and non-active airlines there are.

### Without `GROUP BY`

Let's first start with just seeing how many airlines there are:

In [ ]:
# Count Airlines
df_results = pd.read_sql('''
    SELECT 
        -- Reminder that this counts the number of rows before the SELECT
        COUNT() AS number_of_airlines
    FROM 
        airlines
''', conn)

df_results

One way for us to get the counts for each is to create two queries that will filter each kind of airline (active vs non-active) and count those values:

In [ ]:
df_active = pd.read_sql('''
    SELECT 
        COUNT() AS number_of_active_airlines
    FROM 
        airlines
    WHERE 
        active='Y'
''', conn)

df_not_active = pd.read_sql('''
    SELECT 
        COUNT() AS number_of_not_active_airlines
    FROM 
        airlines
    WHERE 
        active='N'
''', conn)

display(df_active)
display(df_not_active)

This works but it's inefficient.

### With `GROUP BY`

Instead, we can tell the SQL server to do the work for us by grouping values we care about for us!

In [ ]:
# Group By
pd.read_sql('''
    SELECT
        -- Note we have to cast to numerical value first
        
        MAX(CAST(longitude AS REAL))
    FROM
        airports
''', conn)

This is great! And if you look closely, you can observe we have _three_ different groups instead of our expected two!

Let's also print out the `airlines.active` value for each group/aggregation so we know what we're looking at:

In [ ]:
# What're the groups again?

## Group Task

- Which countries have the highest numbers of active airlines? Return the top 10.

In [ ]:
# Code
df_airlines = pd.read_sql('''
SELECT
    country,
    COUNT(*) AS num_active
FROM
    airlines
WHERE
    active = 'Y'
GROUP BY
    country
ORDER BY 
    "num_active" DESC
LIMIT 10
    
''', conn)

display(df_airlines)

> Note that the `GROUP BY` clause is considered _before_ the `ORDER BY` and `LIMIT` clauses

## Exercise: Grouping

- Run a query that will return the number of airports by time zone. Each row should have a number of airports and a time zone.

In [ ]:
# Your code here

# Filtering Groups with `HAVING`

We showed that you can filter tables with `WHERE`. We can similarly filter _groups/aggregations_ using `HAVING` clauses.

## Examples of Using `HAVING`

### Simple Filtering - Number of Airports in a Country

Let's come back to the aggregation of active airports:

In [ ]:
pd.read_sql('''
    SELECT 
        COUNT() AS num,
        country
    FROM 
        airlines
    WHERE 
        active='Y'
    GROUP BY 
        country
    ORDER BY 
        num DESC
''', conn)

We can see we have a lot of results. But maybe we only want to keep the countries that have more than $30$ active airlines:

In [ ]:
# Having

## Filtering Different Aggregations - Airport Altitudes

We can also filter on other aggregations. For example, let's say we want to investigate the `airports` table.

Specifically, we want to know the height of the _highest airport_ in a country given that it has _at least $100$ airports_.

### Looking at the `airports` Table

In [ ]:
# Airports!

### Looking at the Highest Airport

Let's first get the highest altitude airport for each country:

In [ ]:
# Highest

### Looking at the Number of Airports Too

We can also get the number of airports for each country.

In [16]:
# How many in each country
highest_ap_df = pd.read_sql('''

select
    name,
    country,
    MAX(CAST(altitude as REAL)),
    MIN(CAST)
from
    airports
group by
    country

''', conn)
highest_ap_df

DatabaseError: Execution failed on sql '

select
    name,
    country,
    MAX(CAST(altitude as REAL)),
    MIN(CAST)
from
    airports
group by
    country

': near ")": syntax error

### Filtering on Aggregations

> Recall:
>
> We want to know the height of the _highest airport_ in a country given that it has _at least $100$ airports_.

In [ ]:
# having

# Joins

The biggest advantage in using a relational database (like we've been with SQL) is that you can create **joins**.

> By using **`JOIN`** in our query, we can connect different tables using their _relationships_ to other tables.
>
> Usually we use a key (*foreign key*) to tell us how the two tables are related.

There are different types of joins and each has their different use case.

## `INNER JOIN`

> An **inner join** will join two tables together and only keep rows if the _key is in both tables_

![](./images/inner_join.png)

Example of an inner join:

```sql
SELECT
    table1.column_name,
    table2.different_column_name
FROM
    table1
    INNER JOIN table2
        ON table1.shared_column_name = table2.shared_column_name
```

### Code Example for Inner Joins

Let's say we want to look at the different airplane routes

In [4]:
pd.read_sql('''
    SELECT 
        *
    FROM
    
        routes 
''', conn)

,index,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
0,0,2B,410,AER,2965,KZN,2990,None,0,CR2
1,1,2B,410,ASF,2966,KZN,2990,None,0,CR2
2,2,2B,410,ASF,2966,MRV,2962,None,0,CR2
3,3,2B,410,CEK,2968,KZN,2990,None,0,CR2
4,4,2B,410,CEK,2968,OVB,4078,None,0,CR2
...,...,...,...,...,...,...,...,...,...,...
67658,67658,ZL,4178,WYA,6334,ADL,3341,None,0,SF3
67659,67659,ZM,19016,DME,4029,FRU,2912,None,0,734
67660,67660,ZM,19016,FRU,2912,DME,4029,None,0,734
67661,67661,ZM,19016,FRU,2912,OSS,2913,None,0,734
67662,67662,ZM,19016,OSS,2913,FRU,2912,None,0,734

This is great but notice the `airline_id` column. It'd be nice to have some more information about the airlines associated with these routes.

We can do an **inner join** to get this information!

#### Inner Join Routes & Airline Data

In [ ]:
airlines_df = pd.read_sql('''SELECT * from AIRLINES''', conn)
airlines_df.head(1)

In [15]:
# Inner
airlines_ID = pd.read_sql('''
SELECT
    rt.source AS departing,
    re.dest AS arriving,
    al.name,
    rt.airline_id AS routes_id,
    al.id as airline_id
FROM
    routes AS rt
    INNER JOIN airlines AS al
        ON rt.airline_id = al.id
        
''', conn)

DatabaseError: Execution failed on sql '
SELECT
    rt.source AS departing,
    re.dest AS arriving,
    al.name,
    rt.airline_id AS routes_id,
    al.id as airline_id
FROM
    routes AS rt
    INNER JOIN airlines AS al
        ON rt.airline_id = al.id

': no such column: re.dest

In [ ]:
airlines_df = pd.read_sql('''SELECT * from AIRLINES''', conn)

We can also specify that we want to retain only certain columns in the `SELECT` clause:

In [ ]:
# Inner and Select

#### Note: Losing Data with Inner Joins

Since data rows are kept only if _both_ tables have the key, some data can be lost

In [13]:
df_all_routes = pd.read_sql('''
    SELECT 
        *
    FROM
        routes
''', conn)

df_routes_after_join = pd.read_sql('''
    SELECT 
        *
    FROM
        routes
        INNER JOIN airlines
            ON routes.airline_id = airlines.id
''', conn)

DatabaseError: Execution failed on sql '
    SELECT
        *
    FROM
        routes
        INNER JOIN airlines
            ON routes.airline_id = al.id
': no such column: al.id

In [ ]:
# Look at how the number of rows are different
df_all_routes.shape, df_routes_after_join.shape

If you want to keep your data from at least one of your tables, you should use a left join instead of an inner join.

## `LEFT JOIN`

> A **left join** will join two tables together and but will keep all data from the first (left) table using the key provided.

![](./images/left_join.png)

Example of a left and right join:

```sql
SELECT
    table1.column_name,
    table2.different_column_name
FROM
    table1
    LEFT JOIN table2
        ON table1.shared_column_name = table2.shared_column_name
```

### Code Example for Left Join

Recall our example using an inner join and how it lost some data since the key wasn't in both the `routes` _and_ `airlines` tables.

In [ ]:
df_all_routes = pd.read_sql('''
    SELECT 
        *
    FROM
        routes
''', conn)

# This will lose some data (some routes not included)
df_routes_after_inner_join = pd.read_sql('''
    SELECT 
        *
    FROM
        routes
        INNER JOIN airlines
            ON routes.airline_id = airlines.id
''', conn)

# The number of rows are different
df_all_routes.shape, df_routes_after_inner_join.shape

If wanted to ensure we always had every route even if the key in `airlines` was not found, we could replace our `INNER JOIN` with a `LEFT JOIN`:

In [14]:
# This will include all the data from routes
df_routes_after_inner_join = pd.read_sql('''
SELECT *

FROM
    routes as RT
    LEFT JOIN airlines as al
        ON routes.airline_id = al.id
WHERE
''', conn)

DatabaseError: Execution failed on sql '
SELECT *

FROM
    routes as RT
    LEFT JOIN airlines as al
        ON routes.airline_id = al.id
': no such column: routes.airline_id

## Exercise: Joins

Which airline has the most routes listed in our database?

In [19]:
# Your code here
pd.read_sql('''
SELECT 
    al.name,
    COUNT(*) AS num_routes
FROM
    routes AS rt
    INNER JOIN airlines AS al
        ON rt.airline_id = al.id
GROUP BY
    al.name
ORDER BY 
    num_routes DESC
LIMIT 1
'''
, conn)

      name  num_routes
0  Ryanair        2484

In [ ]:
# Your code here
pd.read_sql('''
SELECT 
    al.name as airlineName,
    rt.equipment as routeplane,
    ap.code as airportcode
FROM
    routes AS rt
    INNER JOIN airlines AS al
        ON rt.airline_id = al.id
    INNER JOIN airports as ap
        ON rt.source_id = ap.id
'''
, conn)

# Level Up: Execution Order

```SQL
SELECT 
    COUNT(table2.col2) AS my_new_count
    ,table1.col2
FROM
    table1
    JOIN table2
        ON table1.col1 = table2.col2
WHERE
    table1.col1 > 0
GROUP BY
    table2.col1
```

1. `From`
2. `Where`
3. `Group By`
4. `Having`
5. `Select`
6. `Order By`
7. `Limit`